<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{entry.title}} - Kenya Stopover</title>
<!-- Stylesheets -->
<link href="{{ siteUrl }}assets/css/bootstrap.css" rel="stylesheet">
<link href="{{ siteUrl }}assets/css/style.css" rel="stylesheet">
<link href="{{ siteUrl }}assets/css/meanmenu.min.css" rel="stylesheet">
<link href="{{ siteUrl }}assets/css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="{{ siteUrl }}assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="{{ siteUrl }}assets/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

{% block body %}{% endblock %}

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

<script src="{{ siteUrl }}assets/js/jquery.js"></script>
<script src="{{ siteUrl }}assets/js/popper.min.js"></script>
<script src="{{ siteUrl }}assets/js/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/js/appear.js"></script>
<script src="{{ siteUrl }}assets/js/parallax.min.js"></script>
<script src="{{ siteUrl }}assets/js/tilt.jquery.min.js"></script>
<script src="{{ siteUrl }}assets/js/jquery.paroller.min.js"></script>
<script src="{{ siteUrl }}assets/js/wow.js"></script>
<script src="{{ siteUrl }}assets/js/swiper.min.js"></script>
<script src="{{ siteUrl }}assets/js/backtotop.js"></script>
<script src="{{ siteUrl }}assets/js/odometer.js"></script>
<script src="{{ siteUrl }}assets/js/mixitup.js"></script>
<script src="{{ siteUrl }}assets/js/isotope.js"></script>
<script src="{{ siteUrl }}assets/js/parallax-scroll.js"></script>

<script src="{{ siteUrl }}assets/js/gsap.min.js"></script>
<script src="{{ siteUrl }}assets/js/SplitText.min.js"></script>
<script src="{{ siteUrl }}assets/js/ScrollTrigger.min.js"></script>
<script src="{{ siteUrl }}assets/js/ScrollToPlugin.min.js"></script>
<script src="{{ siteUrl }}assets/js/ScrollSmoother.min.js"></script>

<script src="{{ siteUrl }}assets/js/jquery.marquee.min.js"></script>
<script src="{{ siteUrl }}assets/js/magnific-popup.min.js"></script>
<script src="{{ siteUrl }}assets/js/nav-tool.js"></script>
<script src="{{ siteUrl }}assets/js/jquery-ui.js"></script>
<script src="{{ siteUrl }}assets/js/element-in-view.js"></script>
<script src="{{ siteUrl }}assets/js/script.js"></script>

</body>
</html>